#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: white;
}

.tt tr td:first-child {
  border-right: 1px solid white;
  padding-right: 4px;
}